namespace: default
component: utilities
part-of: mosip
activeProfileEnv: prod
springConfigLabel: master
configServerUrl: http://config-server/config
domainName: {{ sandbox_domain_name }}
internalDomain: {{ clusters.mz.nodeport_node }} 
probe:
  initialDelay: 180  # Seconds
  period: 30 # Seconds
ingress:
   namespace: default
artifactoryUrl: {{ artifactory_url }} 
imagePullPolicy: Always 
isGlowroot: {{ is_glowroot }}
services:
  umchandler:
    serviceName: {{ versions.services.utilities.umchandler.keys()[0] }}
    dockerImage: {{ versions.services.utilities.umchandler.values()[0] }}
    containerPort: 8080
    servicePort: 80
    ingressPath: /umchandler
    healthUrl: /umchandler
